postgres
hive-data
spark-cluster/id_rsa
spark-cluster/id_rsa.pub
hadoop_installation/hadoop_namenode
hadoop_installation/hadoop_data
hadoop_installation/hadoop_config/ssh/id_rsa
hadoop_installation/hadoop_config/ssh/id_rsa.pub
hue.ini
spark-cluster/spark-jobs/spark-jobs/write_data
spark-cluster/spark-jobs/spark-jobs/spark-warehouse
spark-cluster/spark-jobs/spark-jobs/final_op
spark-cluster/spark-jobs/spark-jobs/artifacts
spark-cluster/spark-master
spark-cluster/spark-worker-1
spark-cluster/spark-worker-2
spark-cluster/spark-jobs/metastore_db
spark-cluster/spark-jobs/derby.log
spark-cluster/spark-jobs/airflow
spark-cluster/livy_conf/livy-cert.pem
spark-cluster/livy_conf/livy.jks
hadoop_installation/spark-3.5.0-bin-hadoop3.tgz
spark-cluster/spark-jobs/spark-jobs/spark_scala_project/spark_udf_test_jvm/project/target
spark-cluster/spark-jobs/spark-jobs/spark_scala_project/spark_udf_test_jvm/target/
spark-cluster/spark-jobs/spark-jobs/spark_scala_project/spark_udf_test_jvm/.bsp/sbt.json
.DS_Store
spark-cluster/spark-jobs/spark-jobs/torrent_data/